@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500;600&display=swap');

body {
	display: flex;
	align-items: center;
	justify-content: center;
	font-family: 'Quicksand', sans-serif;
	height: 100vh;
	margin: 0;
	background-color: #0527fb;
    background-image: 
        radial-gradient(at 47% 33%, hsl(289.90, 87%, 47%) 0, transparent 59%), 
        radial-gradient(at 82% 65%, hsl(174.55, 95%, 50%) 0, transparent 55%)
}

.container{
	backdrop-filter: blur(16px) saturate(180%);
    -webkit-backdrop-filter: blur(16px) saturate(180%);
    background-color: rgba(17, 25, 40, 0.75);
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.125);
}

img {
	max-width: 600px;
	max-height: 500px;
	border-radius: 30px;
	padding: 10px;
}

main {
	text-align: center;
	color: white;
}

button {
	--border-radius: 15px;
	--border-width: 4px;
	appearance: none;
	position: relative;
	padding: 1em 2em;
	margin: 3px;;
	border: 0;
	border-radius: var(--border-radius);
	background-color: #212121;
	font-family: "Roboto", Arial, "Segoe UI", sans-serif;
	font-size: 18px;
	font-weight: 500;
	color: #fff;
	z-index: 2;
}


button::after {
	--m-i: linear-gradient(#000, #000);
	--m-o: content-box, padding-box;
	content: "";
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	padding: var(--border-width);
	border-radius: var(--border-radius);
	background-image: conic-gradient(
		#488cfb,
		#29dbbc,
		#ddf505,
		#ff9f0e,
		#e440bb,
		#655adc,
		#488cfb
	);
	-webkit-mask-image: var(--m-i), var(--m-i);
	mask-image: var(--m-i), var(--m-i);
	-webkit-mask-origin: var(--m-o);
	mask-origin: var(--m-o);
	-webkit-mask-clip: var(--m-o);
	mask-composite: exclude;
	-webkit-mask-composite: destination-out;
	filter: hue-rotate(0);
	animation: rotate-hue linear 500ms infinite;
	animation-play-state: paused;
	}
	   
button:hover::after {
	animation-play-state: running;
}
	   
@keyframes rotate-hue {
	to {
		filter: hue-rotate(1turn);
	}
}
	   
button,
button::after {
	box-sizing: border-box;
}
	   
button:active {
	--border-width: 5px;
}